/* 
    This css file contains all the 
    styling for the documentation page 
*/

/* global */
h1, h3, h4, .menu h6 {
    text-align: center;
}

html {
     scroll-behavior: smooth;
}

/* Docs */

#docList a{
    background-color: rgba(0,0,0, 0.3);
}

.docList a, .docList a:hover{
    background-color: rgba(0,0,0, 0.3);
}

#docContent{
    background-color: rgba(0,0,0, 0.1);
}

.list-group-item-action{
    color: #fff;
}

.list-group-item-action:hover{
    color: green;
}

.codeExamp, .codeExampSyn{
    font-size: 0.4em;
    background-color: #fff;
    color: #000;
    white-space: pre-wrap;
}

.codeExampSyn{
    background-color: rgba(0,0,0, 0.3);
    color: #fff;
}

#backToTop{
    position: fixed;
    display: inline-block;
    text-align: center;
    left: 60%;
    bottom: 7%;
    z-index: 10;
}

.highlight{
    color: #FFA500;
}

.note{
    color:#FF0000;
}

/* syntax colours */

.string{
    color: rgb(155, 79, 16);
}

.function{
    color:blue;
}

.method{
    color: #ffff00;
}

.keyword {
    color: purple;
}

.comments{
    color: green;
}

.param{
    color: #5873FF;
}

@media (min-width: 576px) { 
    #backToTop{
        text-align: center;
        left: 75%;
    }
}

@media (min-width: 768px) { 
    #backToTop{
        text-align: center;
        left: 80%;
    }

    .codeExamp, .codeExampSyn{
        font-size: 0.5em;
    }
}

@media (min-width: 992px) { 
    #backToTop{
        text-align: center;
        left: 85%;
    }

    .codeExamp, .codeExampSyn{
        font-size: 0.7em;
    }
}

@media (min-width: 1200px) { 
}