html {
     scroll-behavior: smooth;
}

/* Docs */

#docList a{
    background-color: rgba(0,0,0, 0.3);
}

#docContent{
    background-color: rgba(0,0,0, 0.1);
}

.list-group-item-action{
    color: #fff;
}

.list-group-item-action:hover{
    color: green;
}

.codeExamp{
    font-size: 0.4em;
    background-color: #fff;
    color: #000;
    white-space: pre-wrap;
}

#backToTop{
    position: fixed;
    display: inline-block;
    text-align: center;
    left: 60%;
    bottom: 2%;
    z-index: 10;
}

@media (min-width: 576px) { 
    #backToTop{
        text-align: center;
        left: 75%;
    }
}

@media (min-width: 768px) { 
    #backToTop{
        text-align: center;
        left: 80%;
    }

    .codeExamp{
    font-size: 0.5em;
    }
}

@media (min-width: 992px) { 
    #backToTop{
        text-align: center;
        left: 85%;
    }

    .codeExamp{
    font-size: 0.7em;
    }
}

@media (min-width: 1200px) { 
}