/* global */

body{
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
}

/* jumbotron */
.jumbotron{
    background: url("../images/nasa.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 40vh;
}

.jumbotron h1, .jumbotron .lead{
    position: relative;
    text-align: center;
    top: 20vh;
    color: #fff;
}

/* JSON result */
.outerJson{
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: scroll;
    padding: 2% 5% 5% 5%;
    min-height: 27vh;
    max-height: 50vh;
}

#jsonRes{
    position: absolute;
    height: inherit;
    color: #ff0000;
    white-space: pre-wrap;
}

/* Edit Buttons */

#editRecord{
    margin: 1%;
}

.hideBtn{
    display: none;
}

.showBtn{
    display: initial;
}