{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
<!-- Local Imports-->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<!-- API Search / JSON result -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1">
				<form class="form-inline" id="apiSearchForm">
					<label class="" type="">{{request.url}}api/</label>
					<input class="form-control mr-sm-2" placeholder="people/1" id="apiSearch" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" id="apiBtn" type="submit">request</button>
				</form>
			</div>
			<div class="col-10 offset-1 outerJson">
				<pre id="jsonRes"></pre>
			</div>
            <div class="col-3" id="editRecord">
                <p id="errMess"></p>
                <button class="hideBtn" id="addBtn">Add Record</button>
                <button class="hideBtn" id="editBtn">Edit</button>
                <button class="hideBtn" id="deleteBtn">Delete</button>
                <button class="hideBtn" id="saveBtn">Save</button>
            </div>
		</div>
	</div>
</section>
<!-- About Section -->
<section>
	<div class="container">
		<div class="row mx-auto text-center">
			<div class="col-6">
				<h3>About:</h3>
			</div>
			<div class="col-6">
				<h3>How to use:</h3>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}